/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/database_data_dir
public/js/app.js.LICENSE.txt
public/adminer.php
public/adminer-4.8.1-mysql-en.php
public/uploads
